@{
    ViewData["Title"] = "Home Page";
}
<!-- Polyfills for IE 11 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>

@*<div id="react-app">Loading...</div>*@

<div id="react-app">
    <div style="margin:auto; width:220px;">
        <h1>Loading...</h1>
        <img src="~/images/Ball-1s-200px.gif" />
    </div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
