[Migrations/*.*]
# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

[*.cs]
# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = silent
