[RandomUser.cs]

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

[*.cs]

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA1055: Uri return values should not be strings
dotnet_diagnostic.CA1055.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

